[mysql]
host=192.168.0.2
port=3306
user=admin
password="mPqSEaH4jPJs58Ao"

[mysqldump]
host=192.168.0.2
port=3306
user=admin
password="mPqSEaH4jPJs58Ao"

[client]
host=192.168.0.2
port=3306
user=admin
password="mPqSEaH4jPJs58Ao"